<html>
  <body>

<h1>About Us</h1>
<div> <img src= "https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Netflix_2015_logo.svg/1024px-Netflix_2015_logo.svg.png"> </div>

<p>
  Netflix is an American entertainment company founded by Reed Hastings and Marc Randolph on August 29, 1997,
   in Scotts Valley, California.[8] It specializes in and provides streaming media and video-on-demand online
    and DVD by mail. In 2013, Netflix expanded into film and television production, as well as online
     distribution. The company is headquartered in Los Gatos, California.
</p>
</body>
</html>