<body>
<app-header></app-header>


<div  class="scrollmenu">

    
 <a  [routerLink]="['/Home']"><span class="glyphicon glyphicon-home"> Home </span></a>

      
       
       <ng-template [ngIf]="service.exit">
           <a [routerLink]="['/Login']">
        <button type="button"  > <span class="glyphicon glyphicon-log-in"> Login</span></button></a>
        
        <a [routerLink]="['/Signup']"><button type="button"> <span class="glyphicon glyphicon-user">  Signup </span> </button> </a>
          </ng-template>
            <ng-template [ngIf]="!service.exit">    
              
                <a [routerLink]="['/movies']"><span class="glyphicon glyphicon-tv"> Movies</span></a>
                       <a [routerLink]="['/Tv']"><span class="glyphicon glyphicon-tv"> TV Series</span></a>
              
              <a [routerLink]="['/Home']" (click)="doThis()" >
                 <button type="button"> <span class="glyphicon glyphicon-log-out"> Logout </span></button></a>
               <a [routerLink]="['/admin']" class="pull-right" >
                  <button type="button" class="btn btn-success"> <span class="glyphicon glyphicon-edit">
                    </span> Edit </button> </a>
                 <a [routerLink]="['/user']" class="pull-right" >
                    <button type="button" class="btn btn-success"> <span class="	glyphicon glyphicon-arrow-left">
                      </span> Back</button> </a>
                </ng-template>
                <ng-template [ngIf]="service.role">
                <a [routerLink]="['/admin']" class="pull-right" >
                  <button type="button" class="btn btn-success"> <span class="glyphicon glyphicon-edit">
                    </span> Edit </button> </a> </ng-template>
     </div>
  
     <div id="body">
<router-outlet></router-outlet>
</div>

<app-footer></app-footer>
</body>