<body>
    
     <br><br><br>
     <div class="container">
       <section id="products">
         <div class="row">
   
           <td *ngFor="let p of Tv">
           <div class="col-md-3">
             <div class="thumbnail">
             <img src="{{p.tv_img}}" width="300px" height="450px">
               <div class="caption">
                 <h4>{{p.tvName}}</h4>
                 <h6><button type="button" class="btn btn-info" style="color:black">{{p.genres}}</button> </h6>
                 <h6>{{p.description}}</h6>
                   
               </div>
             </div>
           </div>
           </td>
         
         </div>
       </section>
     </div>
   </body>